body{
    margin: 0;
    display: flex;
    background-color: beige;
}

#container{
    width: 90%;
    height: 700px;
    margin: 40px auto;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
}
#sidebar{
    width: 40%;
    padding: 20px;
}

#map{
    width: 60%;
    height: 100%;
}
